.design {
  background-image: url("../images/mobile/image-graphic-design.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.design__content {
  position: relative;
  top: 60%;
}

.design__content h2 {
  font-family: "fraunces", serif;
  width: 80%;
  margin: 0 auto 4%;
  text-align: center;
  color: hsl(167, 40%, 24%);
  font-weight: bolder;
}

.design__content p {
  font-family: "barlow", sans-serif;
  font-weight: lighter;
  text-align: center;
  color: hsl(167, 40%, 24%);
  line-height: 1.6em;
  font-size: 0.9em;
  padding: 0 1%;
}
