@media (min-width: 320px) {
    .header__mobile {
        display: flex;
    }
}
@media (min-width: 1024px) {
    .header__mobile {
        display: none;
    }
}
.header__mobile {
    background-color: #3ebfff;
    justify-content: space-between;
    padding: 4% 5%;
}
.header-mobile__logo {
    width: 40%;
}
.hamburguer__icon {  
    width: 30px;
}
.hamburguer__content {
    align-items: center;
    background-color: #ffffff;
    color: hsl(232, 10%, 55%);
    display: none;
    flex-direction: column;
    font-family: "barlow", sans-serif;
    height: 300px; 
    justify-content: space-around;
    min-width: 200px;
    position: absolute;
    right: 3vh;
    top: 15vh;
    width: 90%;
    z-index: 2;
}

.showModal {
    display: flex;
}
.showModal.hamburguer__content {
    animation: modal .3s;
}
.hamburguer__content__list {
    text-align: center;
}
.hamburguer__item {
    list-style: none;
    margin: 40% auto;
}
.hamburguer__item:last-child {
    margin-bottom: 0;
}
.hamburguer__button {
    background-color: hsl(51, 100%, 49%);
    border-radius: 40px;
    color: hsl(212, 27%, 19%);
    height: 50px;
    font-family: "fraunces", serif;
    font-size: 0.8em;
    text-transform: uppercase;
    width: 40%;
}
@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}