.photography {
  background-image: url("../images/mobile/image-photography.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.photography__content {
  position: relative;
  top: 60%;
}

.photography__content h2 {
  font-family: "fraunces", serif;
  width: 80%;
  margin: 0 auto 4%;
  text-align: center;
  color: hsl(198, 62%, 26%);
  font-weight: bolder;
}

.photography__content p {
  font-family: "barlow", sans-serif;
  font-weight: lighter;
  text-align: center;
  color: hsl(198, 62%, 26%);
  line-height: 1.6em;
  font-size: 0.9em;
  padding: 0 1%;
  width: 100%;
}
